body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-family:"Libre Baskerville", serif;
}
.poster{
    
    margin-top: 100px;
    color: white;
    text-align: center;
}
.mark{
    width: 60%;
    border: 5px solid white;
}

